*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header{
    min-height: 100vh; 
    width: 100%;
    background: #a8a4fa;
    color: rgb(255, 255, 255);
    position: absolute;
 }
.left-sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #6C63FF;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    float: right;
}
.nav-links{
    text-align: right;
    background: #6C63FF;
    padding: 25px 50px;
    border-bottom-left-radius: 25px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 27px;
}
.logo{
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    padding-left: 4px;
    padding-top: 82px;
    position: absolute;
    top: 25%;
    left: 20px;
    float: left;
}
.row{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 12%;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 70px; padding-bottom: 70px;
    padding-left: 80px; padding-right: 100px;
    background-color: #6C63FF;
    border-radius: 15px;
    height: 40vh;
}
.left-col{
    display: block;
    position: absolute;
}
.left-col img{
    height: 200px;
    width: 307px;
    cursor: pointer;
    filter: grayscale(0);
    transition: filter 1s;
    float: top;
}
.center h3{
    font-size: 40px;
    font-weight: 200;
    border: indigo;
    border-radius: 20%;
    padding: 0 30px;
}
.search-box{
    display: block;
    height: 37vh;
    padding: 30px 30px;
    position: relative;
    left: -10%;
    background-color: #6C63FF;
    padding-top: 15vh;
}
.field input[type=text], #UserID{
    padding: 10px;
    font-size: 20px;
    float: left;
    width: 75%;
}
button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 22px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
button:hover {
    background-color: #1c75bd;
    transition-duration: 0.3s;
}
button:active {
    background-color: #14568b;
}